/* StudentGrade.css */

/* Page Container */
.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  background-color: black;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  position: absolute;
}

/* Card */
.card-custom {
  position: absolute;
  background-color: #000;
  padding-top: 25px; /* Increase vertical padding at the top */
  padding-bottom: 15px; /* Increase vertical padding at the bottom */
  padding-left: 10px; /* Optional: Set horizontal padding */
  padding-right: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 390px;
  text-align: center;
 
  margin-top: 0px;
}

/* Title */
.title {
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: -10px;
  color: white;
  font-weight: bold;
}

/* Subheading */
.subheading {
  font-size: 18px;
  color: #e1e1e1;
  margin-bottom: 40px;
}

/* Dropdown Container */
.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 100%;
}

/* Label */
.label {
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: -10px; /* Increase vertical padding at the top */
  padding-bottom: 0px; /* Increase vertical padding at the bottom */
  font-size: 14px;
  font-weight: bold;
  color: black;
}

/* Select */
.select {
  width: 100%;
  max-width: 100%;
  padding: 4px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  flex: 1;
}

/* Table Container */
.table-container {
  overflow-x: auto;
  margin-top: 30px;
}

/* Table */
.table-custom {
  width: 100%;
  border-collapse: collapse;
}

/* Table Header */
.th-custom {
  border: 1px solid #dddddd;
  padding: 12px;
  background-color: #90c3f9 !important;
  color: white;
  text-align: left;
}

/* Table Data */
.td-custom {
  border: 1px solid #dddddd;
  padding: 12px;
  text-align: left;
  color: black;
}

/* Loading Container */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Spinner */
.spinner-custom {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #007bff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

/* Error Container */
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Error Message */
.error-message {
  color: red;
  font-size: 18px;
}

/* Back Button */
.back-button {
  position: relative;
  margin-top: "20px" !important;
  background-color: #2e2e2e !important;
  color: white;
  border: none !important;
  border-radius: 40px !important;
  width: 26px;
  height: 26px;
  font-size: 26px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  font-weight: 'bold' !important;
}

/* Graph Buttons Container */
.graph-buttons-container {
  position: relative;
  flex-direction: column;
  margin-bottom: -20px !important;
  width: "100%" !important;
  
  display: flex;
  gap: 0px;
  z-index: 1000;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  position: relative;
}

/* Close Modal */
.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* Modal Title */
.modal-title {
  text-align: center;
  margin-bottom: 20px;
}

/* Legend Container */
.legend-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

/* Legend Button */
.legend-button {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  margin: 5px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

/* Color Box */
.color-box {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 2px;
}

/* Keyframes for Spinner Animation */
@keyframes spin {
  to { transform: rotate(360deg); }
}
